# Object files
*.o
*.pyc
.DS_Store

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# owb-config
trunk/Base/owb-config.h
trunk/Base/BALBase.h
trunk/Base/WebKitTypes.h
trunk/WebKit/OrigynWebBrowser/webkit-owb.pc

trunk/cmake/FindICU.cmake
